<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.unex.proyectoasee_nogymmembership">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Adds.AddRoutineActivity"
            tools:ignore="InnerclassSeparator,UnusedAttribute"
            android:parentActivityName=".MainActivity">
        </activity>

        <activity
            android:name=".Adds.ExerciseDescActivity"
            android:label="@string/title_activity_exercise_desc"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="InnerclassSeparator,UnusedAttribute"
            android:parentActivityName=".MainActivity">
        </activity>

        <activity
            android:name=".Adds.AddExerciseToRoutine"
            android:label="@string/title_activity_add_exercise_to_routine"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="InnerclassSeparator,UnusedAttribute"
            android:parentActivityName=".MainActivity">
        </activity>

        <activity
            android:name=".ShowRoutine"
            android:parentActivityName=".MainActivity"
            tools:ignore="UnusedAttribute">
        </activity>

        <activity
            android:name=".AppBarUtils.UserPreferences"
            tools:ignore="InnerclassSeparator,UnusedAttribute"
            android:parentActivityName=".MainActivity">
        </activity>

        <activity
            android:name=".ModRoutineActivity"
            android:theme="@style/AppTheme.CustomTheme">
        </activity>
    </application>

</manifest>